#main-content {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.main-text h1 {
  color: var(--color-primary-white);
  font-size: 3.6rem;
  text-shadow: 1px 1px 2px var(--color-white);
  margin-top: 0.5rem;
}

.main-text h2 {
  color: var(--color-red-2);
  font-size: 2rem;
}

.car-main {
  width: 70%;
  max-width: 35rem;
  margin: 3rem 0;
}

#buttons-container {
  display: flex;
  flex-wrap: wrap;
}

#buttons-container a {
  width: 10rem;
  height: 5.5rem;

  font: 700 2rem Roboto;

  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-white);
  text-decoration: none;

  border-radius: 0.8rem;

  box-shadow: 1px 1px solid var(--color-white);

  transition: background-color 0.4s;
}

#buttons-container .know {
  background: var(--color-red-1);
  flex: 1 100%;
}

#buttons-container .work,
#buttons-container .contact {
  background: var(--color-red-2);
  flex: 1;
}

#buttons-container .work {
  margin-right: 1rem;
}

#buttons-container .work:hover,
#buttons-container .contact:hover {
  background: var(--color-red-2-dark);
}

#buttons-container .know:hover {
  background: var(--color-red-1-dark);
}

#address {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#address h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#network .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#network .icons a {
  width: 20%;
  margin: 1rem 0.8rem;
}

#network .icons a:hover {
  opacity: 0.8;
}

.seguradoras {
  width: 70%;
  max-width: 40rem;
  margin-bottom: 1rem;
}

@media (min-width: 1100px) {
  #main-content {
    max-width: 1300px;
    width: 100%;
    height: 100vh;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
      "main-text . car car"
      "buttons . car car"
      "none none none none"
      "seguradoras network network address";

    column-gap: 2rem;
  }

  .main-text {
    grid-area: main-text;
    text-align: left;
  }

  .car-main {
    grid-area: car;
    width: 100%;
    max-width: 100%;
  }

  #buttons-container {
    grid-area: buttons;
  }

  #buttons-container a {
    margin: 0.5rem 0;
  }

  #address {
    grid-area: address;
    text-align: left;
  }

  #network {
    grid-area: network;
    text-align: center;
  }

  #network .icons img {
    width: 30%;
  }

  #network p {
    font-size: 1.8rem;
  }

  #network .icons a {
    margin: 0.5rem -4rem;
  }

  .seguradoras {
    grid-area: seguradoras;
    width: 90%;
  }
}
