#page-work {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-text {
  max-width: 40rem;
  font-size: 3rem;
  margin-bottom: 1rem;
  align-items: center;
}

#work-recently {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1rem;
}

.button {
  width: 10rem;
  height: 5rem;

  font: 700 2rem Roboto;

  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-white);
  background: var(--color-red-2);
  text-decoration: none;

  border-radius: 0.8rem;

  box-shadow: 1px 1px solid var(--color-white);
  transition: background-color 0.4s;
}

.button:hover {
  background: var(--color-red-2-dark);
}

@media (min-width: 1100px) {
  #page-work {
    width: 100%;
  }

  #main-text {
    text-align: center;
  }

  #work-recently {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
